@page
@model OtherSpeakerOptionsModel
@{
    ViewData["Title"] = "Additional Options";
}

<div class="text-center">
    <h2>Would you like to submit another form? <a asp-page="/Forms/SpeakerForm">Click here</a></h2>
    <h2>If not, logout by clicking the logout button above.</h2>
</div>