@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>First time registering for an event? <a asp-page="/Forms/SpeakerForm">Click here</a></p>
    <p>Returning user and would like to register for an event? <a asp-page="/Forms/UpdatingSpeakerForm">Click here</a></p>
</div>
